.range-labels {
    position: relative;
    width: 80%;  
    margin: 5px auto 0; 
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: black;
  }

  .range-label {
    text-align: center;
    width: 14px; /* Width between numbers */
  }