.login-container {
    --background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    text-align: center;
}

h1 {
    margin: 0;
    color: #000000;
    font-size: 32px;
    font-weight: 500;
}

.welcome-text {
    margin: 8px 0 24px;
    color: #666666;
    font-size: 16px;
}

.error-message {
    color: #ff3b30;
    background-color: #fff2f2;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.custom-input {
    --background: #f4f4f4;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --border-radius: 8px;
    --placeholder-color: #666666;
    --color: #000000;
    font-size: 16px;
    margin-bottom: 8px;
}

.custom-input.error-bg {
    --background: #fff2f2;
}

.forgot-password {
    color: #000000;
    font-size: 16px;
    margin: 16px 0;
    cursor: pointer;
}

.signin-button {
    --background: #182B49 !important;
    --color: #ffffff;
    --border-radius: 8px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    text-transform: none;
    margin: 24px 0;
    font-size: 16px;
}

.create-account-button {
    --background: #182B49 !important;
    --color: #ffffff;
    --border-radius: 8px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    text-transform: none;
    margin: 0;
    font-size: 16px;
}

.signup-logo {
    width: 100px;
    height: auto;
}
.signin-button:disabled,
.create-account-button:disabled {
    --background: #cccccc;
    opacity: 0.7;
}