.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    background-color: purple;
    border-radius: 50%;
}

.content-wrapper {
    padding-top: 40px; /* Adjust this value as needed to create space for the back button */
}

.task-name h1 {
    font-size: 1.5em;
    margin-top: 20px 0;
}

.details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.details p {
    font-size: 1em;
    margin: 10px 0;
}

.priority-box {
    margin-left: 10px;
    padding: 15px 18px;
    background-color: #ccc;
    border-radius: 4px;
    font-size: 1.5em;
}
  
.description p {
    font-size: 1em;
    margin: 10px 0;
}

.timer-container {
    position: relative; /* Needed for overlay loading */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.timer-display h2 {
    font-size: 2em;
    margin-bottom: 15px;
}   

.disabled-timer {
    color: lightgray;
}

.another-task-message {
  color: lightcoral;
  text-align: center;
  margin-top: 10px;
}

.timer-buttons {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
}

.timer-button {
    width: 80px; 
    height: 50px; 
    margin: 10px; 
    font-size: 16px; 
    line-height: 3;
}

.manual-time {
    width: 200px;
    height: 40px;
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px auto; 
    margin-bottom: 0px;
}

.manual-time-modal {
    --width: 300px;
    --height: 350px;
    --border-radius: 10px;
    --background: white;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    --padding: 20px;
    --margin: auto;
    --top: 50%;
    --left: 50%;
    --transform: translate(-50%, -50%);
    --position: absolute;
}

.completed-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.completed-label {
    font-size: 1em;
    margin-right: 10px;
}

.completed-checkbox {
    width: 30px; /* Increase the size of the checkbox */
    height: 30px; /* Increase the size of the checkbox */
    border-radius: 0; /* Make the edges sharp */
    -webkit-appearance: none; /* Remove default styling */
    -moz-appearance: none; /* Remove default styling */
    appearance: none; /* Remove default styling */
    background-color: #fff; /* Background color */
    border: 2px solid #ccc; /* Border color */
    cursor: pointer; /* Pointer cursor on hover */
    position: relative; /* Position relative for pseudo-element */
}

.completed-checkbox:checked {
    background-color: #4caf50; /* Background color when checked */
    border-color: #4caf50; /* Border color when checked */
}

.completed-checkbox:checked::after {
    content: ''; /* Empty content for the checkmark */
    position: absolute; /* Position absolute for the checkmark */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    width: 12px; /* Width of the checkmark */
    height: 24px; /* Height of the checkmark */
    border: solid white; /* Color of the checkmark */
    border-width: 0 4px 4px 0; /* Thickness and style of the checkmark */
    transform: translate(-50%, -50%) rotate(45deg); /* Center and rotate the checkmark */
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Light transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Ensure it's above the timer */
    border-radius: 10px; /* Optional: smooth corners */
  }

